.jumbotron {
 padding-top: 2rem;
 background-color: rgb(0, 0, 255);
}

#Pendidikan {
    padding-top: 2rem;
 background-color: blue;
}

#Tentang {
    padding-top: 2rem;
 background-color: blue;
}

#Kontak {
    padding-top: 2rem;
 background-color: blue;
}